dominate==2.9.1
einops==0.8.1
hues==0.2.2
imgvision==0.1.7.3
ipdb==0.13.13
NonLinear_Transformer==0.0.3
numpy==1.24.3
numpy==1.24.4
opencv_python==4.5.4.60
Pillow==11.1.0
scipy==1.15.2
sewar==0.4.6
skimage==0.0
termcolor==3.0.1
torch==1.9.0+cu111
torchvision==0.10.0+cu111
visdom==0.2.4
xlrd==2.0.1
